<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.krzysztofsikora.shareto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon='@null'
        android:label='@string/app_name'
        android:theme='@style/Theme.AppCompat.NoActionBar'>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name='.MainActivity'>
            <intent-filter>
                <action android:name='android.intent.action.MAIN' />
                <category android:name='android.intent.category.LAUNCHER' />
            </intent-filter>

            <!-- Intent filter used for Messenger protocol version 20150311 -->
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.facebook.orca.category.PLATFORM_THREAD_20150311" />
            </intent-filter>

            <!-- Intent filter used for Messenger protocol version 20150314 -->
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.facebook.orca.category.PLATFORM_THREAD_20150314" />
            </intent-filter>

        </activity>

    </application>







</manifest>